table {
  width: 100%;

  .product-info {
    display: flex;
    justify-content: start;
    align-items: center;

    span {
      font-weight: bold;
      font-size: 1.5em;
    }
  }

  mat-icon {
    cursor: pointer;
    margin: auto 10px;
    font-size: 2em;
  }
}

.order-totals {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: end;

  a {
    flex-grow: 1;
  }
}
