<mat-card>
  <img
    alt="{{ product?.name }}"
    mat-card-image
    src="{{ product?.pictureUrl }}"
  />
  <mat-card-content>
    <a color="primary" mat-button routerLink="/shop/{{ product?.id }}">{{
      product?.name
      }}</a>
    <span>{{ product?.price | currency }}</span>
  </mat-card-content>
  <mat-card-actions class="mat-card-actions">
    <button (click)="addItemToBasket()" mat-stroked-button>
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-stroked-button routerLink="/shop/{{ product?.id }}">
      View
    </button>
  </mat-card-actions>
</mat-card>
