<div class="grid-container">
  <section class="filter">
    <mat-action-list>
      <h4>Sort</h4>
      <mat-form-field appearance="fill">
        <mat-label>Sort</mat-label>
        <mat-select [(ngModel)]="selected">
          <mat-option value="Alphabetical"> Alphabetical </mat-option>
          <mat-option value="Price: Low to High">
            Price: Low to High
          </mat-option>
          <mat-option value="Price: High to Low">
            Price: High to Low
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-action-list>

    <mat-action-list>
      <h2>Brands</h2>
      <button mat-list-item>Save</button>
      <mat-divider></mat-divider>
      <button mat-list-item>Undo</button>
      <mat-divider></mat-divider>
      <button mat-list-item>Save</button>
      <mat-divider></mat-divider>
      <button mat-list-item>Undo</button>
      <mat-divider></mat-divider>
    </mat-action-list>

    <mat-action-list>
      <h2>Types</h2>
      <button mat-list-item>Save Save</button>
      <mat-divider></mat-divider>
      <button mat-list-item>Undo</button>
      <mat-divider></mat-divider>
      <button mat-list-item>Save</button>
      <mat-divider></mat-divider>
      <button mat-list-item>Undo</button>
      <mat-divider></mat-divider>
    </mat-action-list>
  </section>

  <section>
    <div class="card-header">
      <header>
        <span>Showing <strong>10</strong> of <strong>16</strong> result</span>
      </header>

      <div>
        <mat-form-field style="margin: 0px 0.5rem" appearance="standard">
          <input matInput placeholder="search" />
        </mat-form-field>
        <button style="margin: 0px 0.5rem" mat-flat-button color="primary">
          Search
        </button>
        <button style="margin: 0px 0.5rem" mat-flat-button color="accent">
          Reset
        </button>
      </div>
    </div>

    <div class="card-container">
      <div *ngFor="let item of products">
        <app-product-item [product]="item"></app-product-item>
      </div>
    </div>
  </section>
</div>
