<div class="grid-container">
  <section>
    <ng-container *ngIf="types && brands">
      <mat-action-list>
        <h3 matSubheader>sort</h3>
        <mat-form-field appearance="legacy">
          <mat-select
            (selectionChange)="onSortSelected(shopParams.sort)"
            [(ngModel)]="shopParams.sort"
          >
            <mat-option *ngFor="let sort of sortOption" [value]="sort.value">
              {{ sort.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-action-list>

      <mat-selection-list
        (selectionChange)="
        onBrandSelected($event.source.selectedOptions.selected[0].value)
      "
        [multiple]="false"
        dense
      >
        <h3 matSubheader>Brands</h3>
        <mat-list-option
          *ngFor="let brand of brands"
          [selected]="brand.id == shopParams.brandId"
          [value]="brand.id"
        >
          {{ brand.name }}
          <mat-divider></mat-divider>
        </mat-list-option>
      </mat-selection-list>

      <mat-selection-list
        (selectionChange)="
        onTypeSelected($event.source.selectedOptions.selected[0].value)
      "
        [multiple]="false"
        dense
      >
        <h3 matSubheader>Types</h3>
        <mat-list-option
          *ngFor="let type of types"
          [selected]="type.id == shopParams.typeId"
          [value]="type.id"
        >
          {{ type.name }}
          <mat-divider></mat-divider>
        </mat-list-option>
      </mat-selection-list>
    </ng-container>
  </section>

  <section *ngIf="products">
    <div class="card-header">
      <header>
        <mat-paginator
          (page)="onPageChange($event.pageIndex, $event.pageSize)"
          [length]="totalCount"
          [pageIndex]="shopParams.pageIndex - 1"
          [pageSizeOptions]="pageSizeOptions"
          [pageSize]="shopParams.pageSize"
          [showFirstLastButtons]="true"
          aria-label="Select page"
        >
        </mat-paginator>
      </header>

      <div>
        <mat-form-field appearance="standard" style="margin: 0px 0.5rem">
          <input #search matInput placeholder="search"/>
        </mat-form-field>
        <button
          (click)="onSearch()"
          [disabled]="search.value ? false : true"
          color="primary"
          mat-flat-button
          style="margin: 0px 0.5rem"
        >
          Search
        </button>
        <button
          (click)="onReset()"
          color="accent"
          mat-flat-button
          style="margin: 0px 0.5rem"
        >
          Reset
        </button>
      </div>
    </div>

    <div class="card-container">
      <div *ngFor="let item of products">
        <app-product-item [product]="item"></app-product-item>
      </div>
    </div>
  </section>
</div>
