<div class="grid-container">
  <section class="filter">
    <mat-action-list>
      <h3 matSubheader>Sort</h3>

      <mat-form-field appearance="fill">
        <mat-label>Sort</mat-label>
        <mat-select [(ngModel)]="selected">
          <mat-option value="Alphabetical"> Alphabetical </mat-option>
          <mat-option value="Price: Low to High">
            Price: Low to High
          </mat-option>
          <mat-option value="Price: High to Low">
            Price: High to Low
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-action-list>

    <mat-selection-list dense dense [multiple]="false">
      <h3 matSubheader>Brands</h3>
      <mat-list-option
        *ngFor="let brand of brands"
        [value]="brand.id"
        [selected]="brand.id == this.brandIdSelected"
        (click)="onBrandSelected(brand.id)"
      >
        {{ brand.name }}
        <mat-divider></mat-divider>
      </mat-list-option>
    </mat-selection-list>

    <mat-selection-list dense [multiple]="false">
      <h3 matSubheader>Types</h3>
      <mat-list-option
        mat-list-item
        *ngFor="let type of types"
        [value]="type.id"
        [selected]="type.id == this.typeIdSelected"
        (click)="onTypeSelected(type.id)"
      >
        {{ type.name }}
        <mat-divider></mat-divider>
      </mat-list-option>
    </mat-selection-list>
  </section>

  <section>
    <div class="card-header">
      <header>
        <span>Showing <strong>10</strong> of <strong>16</strong> result</span>
      </header>

      <div>
        <mat-form-field style="margin: 0px 0.5rem" appearance="standard">
          <input matInput placeholder="search" />
        </mat-form-field>
        <button style="margin: 0px 0.5rem" mat-flat-button color="primary">
          Search
        </button>
        <button style="margin: 0px 0.5rem" mat-flat-button color="accent">
          Reset
        </button>
      </div>
    </div>

    <div class="card-container">
      <div *ngFor="let item of products">
        <app-product-item [product]="item"></app-product-item>
      </div>
    </div>
  </section>
</div>
