<mat-toolbar color="primary">
  <span class="logo" routerLink=""> {{ title }}</span>
  <span class="example-spacer"></span>

  <nav>
    <a
      (focus)="(true)"
      [routerLinkActiveOptions]="{ exact: true }"
      mat-button
      routerLink=""
      routerLinkActive="navbar-header-item-selected"
    >Home</a
    >
    <a
      (focus)="(true)"
      [routerLinkActiveOptions]="{ exact: true }"
      mat-button
      routerLink="/shop"
      routerLinkActive="navbar-header-item-selected"
    >Shop</a
    >
    <a
      [routerLinkActiveOptions]="{ exact: true }"
      mat-button
      routerLink="/test-error"
      routerLinkActive="navbar-header-item-selected"
    >Errors</a
    >
  </nav>
  <span class="example-spacer"></span>
  <div class="flex-container">
    <a mat-icon-button routerLink="/basket">

      <mat-icon *ngIf="(basket$ | async) as basket"
                [matBadge]="basket.items.length"
                aria-label="Shopping Cart"
                matBadgeColor="accent">shopping_cart
      </mat-icon>


    </a>

    <a mat-raised-button>Login</a>
    <a mat-raised-button>Sign up</a>
  </div>
  <app-theme></app-theme>
</mat-toolbar>
