<mat-toolbar color="primary">
  <span routerLink="" class="logo"> {{ title }}</span>
  <span class="example-spacer"></span>

  <nav>
    <a
      mat-button
      routerLink=""
      routerLinkActive="navbar-header-item-selected"
      [routerLinkActiveOptions]="{ exact: true }"
      (focus)="(true)"
      >Home</a
    >
    <a
      mat-button
      routerLink="/shop"
      routerLinkActive="navbar-header-item-selected"
      [routerLinkActiveOptions]="{ exact: true }"
      (focus)="(true)"
      >Shop</a
    >
    <a
      mat-button
      routerLink="/test-error"
      routerLinkActive="navbar-header-item-selected"
      [routerLinkActiveOptions]="{ exact: true }"
      >Errors</a
    >
  </nav>
  <span class="example-spacer"></span>
  <div class="flex-container">
    <mat-icon matBadge="15" matBadgeColor="accent">shopping_cart</mat-icon>
    <a mat-raised-button>Login</a>
    <a mat-raised-button>Sign up</a>
  </div>
  <app-theme></app-theme>
</mat-toolbar>
